html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

body {
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center; }
  ul li {
    margin: 0;
    padding: 0;
    flex: 1; }
  ul .btn {
    width: 100%;
    font-size: 3em;
    background: none; }

.targets,
.increments,
.current {
  flex: initial;
  background-color: black; }
  .targets .btn,
  .increments .btn,
  .current .btn {
    width: 100%;
    font-size: 2em;
    color: #fff; }
    .targets .btn:hover,
    .increments .btn:hover,
    .current .btn:hover {
      color: #ccc; }
    .targets .btn.active,
    .increments .btn.active,
    .current .btn.active {
      color: #00db00; }
  .targets .read-only,
  .increments .read-only,
  .current .read-only {
    width: 100%;
    font-size: 3em;
    color: #aaa;
    text-align: center; }

.values {
  flex: 1; }
  .values .btn {
    width: 32%;
    height: 24%; }
    .values .btn:hover {
      color: #a00; }
    .values .btn:active {
      color: #f00; }
